.wrap{
    max-width: 1290px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

@media all and ( max-width: 1420px ){
    .wrap{
        max-width: 1200px;
    }
}

@media all and ( max-width: 1330px ){
    .wrap{
        max-width: 1100px;
    }
}
@media all and ( max-width: 1200px ){
    .wrap{
        max-width: 1000px;
    }
}
@media all and ( max-width: 1090px ){
    .wrap{
        max-width: 900px;
    }
}

.hr{
    width: 100%;
    height: 1px;
    background: #ebebeb;
    margin: 30px auto;
    display: block;
    float: left;
    clear: both;
}

.absolute-number{
    font-size: 500px;
    font-family: 'Playfair Display', serif;
    color: #fdf4f2;
    margin: 0;
    padding: 0;
    line-height: 0;
    position: absolute;
    z-index: -100;
}
.absolute-number-right{
    right: -60px;
    right: -60px;
}
.absolute-number-left{
    left: -300px;
}
@media all and ( max-width: 1200px ){
    .absolute-number{
        font-size: 400px;
    }
}
@media all and ( max-width: 900px ){
    .absolute-number{
        font-size: 325px;
    }
}
@media all and ( max-width: 770px ){
    .absolute-number-left{
        left: -66px;
    }
}
@media all and ( max-width: 500px ){
    .absolute-number-left{
        left: -115px;
    }
    .absolute-3{
        top:0 !important;
    }
}



.pull-right{
    float: right !important;
    clear: both;
}
.align-right{
    text-align: right !important;
}
.pull-left{
    float: left !important;
    clear: both;
}
.align-left{
    text-align: left !important;
}
.center-block{
    margin: 0 auto !important;
    display: block !important;
    clear: both !important;
    float: none!important;
}
.align-center{
    text-align: center !important;
}
.no-pad{
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.small-line{
    width: 100%;
    max-width: 205px;
    height: 15px;
    background: url(../../images/small-line-bg.png) no-repeat;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.little-line {
    width: 50px;
    height: 1px;
    background: #b4b1b0;
    margin: 0 auto;
    display: block;
}

    .only-mobile{
        display: none !important;
    }
.mobile-hidden {
    display: block !important;
}
@media all and ( max-width: 770px ){
    .only-mobile{
        display: block !important;
    }
.mobile-hidden {
    display: none !important;
}
}

.mockup-img {
    position: relative;
}
.mockup-img .border {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    border: 1px solid #fff;
    opacity: 0.1;
    margin: 5%;
    z-index: 5;
}
